:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --font-family: "Outfit", sans-serif;

  --screen-mobile: 375px;
  --screen-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-gray);
  font-family: var(--font-family);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background: var(--white);
  width: 320px;
  border-radius: 20px;
  padding: 1rem 1rem 40px;
}

.qr-code {
  width: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.heading {
  color: var(--dark-blue);
  font-size: 22px;
  line-height: auto;
  margin-bottom: 1rem;
}

.body {
  color: var(--grayish-blue);
  font-size: 15px;
  letter-spacing: 0.19px;
  line-height: auto;
  padding-inline: 1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}